.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;

}

.header {
  display: flex;
  position: relative;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  background-size: cover;
  /* выше установили ограничения для секции */
}

.logo {
  width: 183px;
  height: 32px;
  z-index: 3;
}

.logo_place_header {
  position: absolute;
  background-image: url(../images/logo_place_header.svg);
  top: 30px;
  left: 64px;
}

.header__title {
  margin-left: 64px;
  width: 730px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  z-index: 3;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  word-spacing: -2px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 3;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 765px;
  height: 608px;
  z-index: 2;
}

.header__square-pic {
  position: absolute;
  right: 0px;
  top: 64px;
  height: 568px;
  width: 568px;
  background: #2f80ed;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

/* и элемента с модификатором вида ключ-значение */

.description {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 784px;
  width: 80%;
  padding: 0;
  margin: 0 auto;
}

.two-columns__brief {
  width: 175px;
}

.two-columns__brief_title {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  width: 80%;
  min-width: 784px;
}

.main-text-margin {
  margin-top: 30px;
}

.span-accent {
  font-weight: bold;
}

.digits {
  margin-top: 100px;
  /* width */
}

.section-title {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 60%;
}

.section-subtitle {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin-top: 20px;
  margin-bottom: 0;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.table {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  min-width: 784px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 100px;
}

.table__cell {
  width: 250px;
  height: 160px;
  margin-top: 60px;
  align-items: stretch;
}

.table__heading {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.bank {
  margin-top: 20px;
  margin-bottom: 0;
}

.feynman {
  display: flex;
  position: relative;
  margin-top: 0;
  min-height: 890px;
  background-color: #f2f2f2;
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-image: url(../images/feynman.png);
  background-position: bottom left;
}

.feynman__title-group {
  margin: 100px auto 0;
}

.feynman__title {
  margin: 0 auto;
  text-align: center;
  width: 648px;
  font-size: 120px;
  font-weight: bold;
  line-height: 1.15;
}

.feynman__subtitle {
  margin: 70px auto 0;
  text-align: center;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  width: 400px;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.kaufman {
  overflow: hidden;
  position: relative;
  background-color: black;
  color: white;
  margin-top: 0;
}

.section-title_theme_dark {
  margin-top: 90px;
}

.section-subtitle_theme_dark {}

.table__theme_dark {
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  z-index: 2;
}

.table__heading_theme_dark {}

.table__text_theme_dark {}

.kaufman__triangle {
  position: absolute;
  top: 0px;
  right: -210px;
  width: 877px;
  height: 877px;
  z-index: 1;
}

.footer {
  position: relative;
  min-height: 350px;
  height: 100%;
  background-color: black;

  color: aliceblue;
  margin-top: 0;
  margin-bottom: 0;


}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 60px;
  bottom: 40px;
  left: 64px;


  flex-basis: 711px;
  width: 90%;
  height: 200px;
}

.footer__column {
  flex-direction: column;
}

.footer__column_content_copyright {
  position: relative;
  width: 50%;
}

.footer__column_content_info {}

.footer__column_content_social {
  display: flex;
  justify-content: flex-start;
}

.logo__place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  position: absolute;
  left: 0px;
  bottom: 18px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.footer__column-heading_text {}

.footer__column-links {}

.footer__column-link {
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.footer__social-icons {
  margin-right: 10px;
  margin-bottom: 0;
}

.footer__column-heading {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin-top: 0px;
  margin-bottom: 20px;
}

/*.debug-border {
  border: red 2px inset;
}*/
